[core]
	excludesfile = /Users/adambutler/.gitignore
	editor = /usr/bin/vim
[push]
	default = current
[pull]
	default = current
[color]
    ui = auto
    diff = true
[color "diff"]
    whitespace = red reverse
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[user]
	name = Adam Butler
	email = adam@lab.io
[mergetool]
	keepBackup = true
[filter "media"]
	clean = git media clean %f
	smudge = git media smudge %f
	required = true
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[diff]
	tool = Kaleidoscope
    wsErrorHighlight = all
[alias]
    ff = !git_ff
    rw = !git_rw
    rb = branch --sort=-committerdate
