[core]
	excludesfile = /Users/adambutler/.gitignore_global
	editor = /usr/bin/vim
[push]
	default = current
[pull]
	default = current
[color]
    ui = auto
    diff = true
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[user]
	name = Adam Butler
	email = adam@lab.io
[mergetool]
	keepBackup = true
[filter "media"]
	clean = git media clean %f
	smudge = git media smudge %f
	required = true
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
